.case-hero {

    padding: 120px 0 80px;

}

.case-container {

    max-width: 1300px;

    margin: 0 auto;

    padding: 0 20px;

}


.hero-content {

    display: grid;

    grid-template-columns: 1fr 1.1fr;

    gap: 70px;

    align-items: center;

}

.back-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #b8becf;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 40px;
    transition: .3s;
}

.back-btn:hover {
    color: #6C63FF;
    transform: translateX(-5px);
}

.case-label {

    display: inline-block;

    padding: 10px 18px;

    border-radius: 50px;

    background: rgba(108, 99, 255, .12);

    color: #6C63FF;

    font-weight: 600;

    margin-bottom: 20px;

}

.hero-left h1 {

    font-size: 4rem;

    color: #fff;

    margin-bottom: 15px;

}

.hero-left h2 {

    font-size: 1.5rem;

    color: #A7B2FF;

    margin-bottom: 25px;

}

.hero-left p {

    color: #B8BECF;

    line-height: 1.9;

    margin-bottom: 35px;

}

.tech-badges {

    display: flex;

    flex-wrap: wrap;

    gap: 12px;

    margin-bottom: 35px;

}

.tech-badges span {

    padding: 10px 18px;

    border-radius: 40px;

    background: #1B2133;

    border: 1px solid rgba(255, 255, 255, .08);

}

.hero-buttons {

    display: flex;

    gap: 22px;
}

.hero-buttons i {

    width: 20px;
    height: 20px;

}

.hero-buttons a,
.hero-buttons button {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

}

.large-browser {

    transform: scale(1.05);

}

.workflow-section {

    padding: 180px 0 120px;

}

.workflow {

    margin-top: 70px;

    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    position: relative;

    gap: 25px;

}

.workflow::before {

    content: "";

    position: absolute;

    left: 6%;

    right: 6%;

    top: 45px;

    height: 4px;

    background: linear-gradient(90deg,
            #6C63FF,
            #28d7ff);

    z-index: 0;

}

.workflow-step {

    flex: 1;

    text-align: center;

    position: relative;

    z-index: 2;

    transition: .4s;

    background: rgba(255, 255, 255, .03);

    border: 1px solid rgba(255, 255, 255, .06);

    border-radius: 22px;

    padding: 35px 20px;

    backdrop-filter: blur(12px);

}

.workflow-step:hover {

    transform: translateY(-12px);

    border-color: #6C63FF;

    box-shadow: 0 20px 40px rgba(108, 99, 255, .15);

}

.step-icon {

    width: 90px;

    height: 90px;

    border-radius: 50%;

    background: #171d2c;

    border: 2px solid rgba(108, 99, 255, .35);

    box-shadow:
        0 0 25px rgba(108, 99, 255, .15);

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 42px;

    margin: 0 auto 22px;

    transition: .35s;

}

.workflow-step:hover .step-icon {

    transform: translateY(-10px);

    box-shadow:
        0 0 40px rgba(108, 99, 255, .45);

    border-color: #6C63FF;

}

.workflow-step h3 {

    color: #fff;

    margin-bottom: 10px;

}

.workflow-step p {

    color: #a9b1c4;

    font-size: .95rem;

    line-height: 1.7;

}

.workflow-arrow {

    display: none;

}

.story-section {

    padding: 140px 0 90px;

}

.story-title {

    font-size: 3rem;

    color: white;

    margin: 30px 0;

}

.story-description {

    max-width: 900px;

    font-size: 1.2rem;

    line-height: 2;

    color: #b7bfd3;

}

.section-tag {

    display: inline-block;

    padding: 12px 24px;

    border-radius: 50px;

    background: rgba(108, 99, 255, .12);

    color: #28d7ff;

    font-weight: 700;

    letter-spacing: 1px;

}

.section-divider {

    width: 150px;

    height: 3px;

    border-radius: 50px;

    background: linear-gradient(90deg,
            #6C63FF,
            #28d7ff);

    box-shadow:
        0 0 20px rgba(108, 99, 255, .35);

    margin: 40px auto;

}

/* features section */

.features-section {

    padding: 140px 0;

}

.section-title {

    font-size: 3rem;

    color: #fff;

    margin: 30px 0 20px;

}

.section-subtitle {

    max-width: 800px;

    color: #B8BECF;

    line-height: 1.9;

    margin-bottom: 70px;

}

.features-grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

}

.feature-card {

    background: rgba(255, 255, 255, .03);

    border: 1px solid rgba(255, 255, 255, .08);

    border-radius: 24px;

    padding: 42px;

    transition: .4s;

    backdrop-filter: blur(12px);


    position: relative;

    overflow: hidden;

}

.feature-card::before {

    content: "";

    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 4px;

    background: linear-gradient(90deg,
            #6C63FF,
            #28d7ff);

    transform: scaleX(0);

    transition: .4s;

}

.feature-card:hover::before {

    transform: scaleX(1);

}


.feature-card:hover {

    transform: translateY(-15px);

    border-color: #6C63FF;

    box-shadow: 0 25px 50px rgba(108, 99, 255, .2);

}

.feature-icon {

    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(108, 99, 255, .08);

    border: 1px solid rgba(108, 99, 255, .25);

    border-radius: 20px;

    font-size: 42px;

    margin-bottom: 25px;

    transition: .35s;

}

.feature-card:hover .feature-icon {

    transform: rotate(-6deg) scale(1.08);

    background: #6C63FF22;

}

.step-icon svg,
.feature-icon svg {

    width: 40px;
    height: 40px;

    stroke-width: 2;

    color: #6C63FF;

}

.feature-card h3 {

    color: white;

    margin-bottom: 15px;

}

.feature-card p {

    color: #B8BECF;

    line-height: 1.8;

    margin-bottom: 20px;

}

.feature-card ul {

    list-style: none;

    padding: 0;

}

.feature-card li {

    color: #d7def5;

    margin: 12px 0;

}

.feature-card li::before {

    content: "✔ ";

    color: #28d7ff;

}

.showcase-section {

    padding: 140px 0;

}

.showcase-card {

    display: grid;

    grid-template-columns: 0.9fr 1.5fr;

    gap: 70px;

    align-items: center;

    margin-top: 55px;

    padding: 70px;

    border-radius: 36px;

    background: rgba(255, 255, 255, .03);

    border: 1px solid rgba(255, 255, 255, .06);

    transition: .4s;

}

.showcase-card:hover {

    transform: translateY(-12px);

}

.showcase-card.reverse {

    grid-template-columns: 1.5fr .9fr;

}

.showcase-card.reverse .showcase-text {

    order: 2;

}

.showcase-card:hover img {

    transform: scale(1.03);

}

.showcase-card.reverse .showcase-image {

    order: 1;

}

.showcase-badge {

    display: inline-block;

    padding: 8px 16px;

    border-radius: 40px;

    background: rgba(40, 215, 255, .12);

    color: #28d7ff;

    font-size: .9rem;

    font-weight: 600;

    margin-bottom: 28px;

}

.showcase-number {

    font-size: 7rem;

    font-weight: 900;

    color: transparent;

    -webkit-text-stroke: 2px rgba(108, 99, 255, .35);

    opacity: .9;

}

.showcase-tags {

    display: flex;

    gap: 12px;

    margin-top: 25px;

    flex-wrap: wrap;

}

.showcase-tags span {

    padding: 10px 18px;

    border-radius: 40px;

    background: #171d2c;

    border: 1px solid rgba(255, 255, 255, .08);

}

.showcase-image {

    transition: .5s ease;
    position: relative;
    isolation: isolate;

}

.showcase-card:hover .showcase-image::before {

    opacity: .75;

    transform:

        translate(-50%, -50%) scale(1.25);

}


.showcase-text h3 {

    font-size: 2.4rem;

    color: white;

    margin-bottom: 20px;

}

.showcase-browser img {
    transition: .6s;
}

.showcase-text p {

    font-size: 1.1rem;

    line-height: 2;

    color: #b7bfd3;

}

.showcase-image::before {

    content: "";

    position: absolute;

    left: 50%;
    top: 50%;

    width: 900px;
    height: 900px;

    transform: translate(-50%, -50%);

    background:
        radial-gradient(circle,
            rgba(108, 99, 255, .8) 0%,
            rgba(108, 99, 255, .35) 35%,
            rgba(40, 215, 255, .18) 55%,
            transparent 72%);

    filter: blur(120px);

    opacity: .65;

    z-index: 0;

    pointer-events: none;

    transition: .6s;

}

.showcase-image::after {

    content: "";

    position: absolute;

    inset: 15%;

    border-radius: 50%;

    background: #6C63FF;

    filter: blur(70px);

    opacity: .25;

    z-index: 0;

}


.showcase-browser {

    display: block;

    text-decoration: none;

}

.browser-frame {

    transition: .45s,
        box-shadow .45s;
    position: relative;
    z-index: 2;
}

.showcase-card:hover .browser-frame {

    transform:
        translateY(-12px) rotate(-1deg);

}

.showcase-browser:hover {

    cursor: pointer;

}

.showcase-card.reverse {
    grid-template-columns: 1.2fr 1fr;
}

.showcase-card.reverse .showcase-text {
    order: 2;
}

.showcase-card.reverse .showcase-image {
    order: 1;
}

/*==============================
      SCROLL REVEAL
==============================*/

.reveal {

    opacity: 0;

    transform: translateY(80px);

    transition:
        opacity .8s ease,
        transform .8s ease;

}

.reveal.active {

    opacity: 1;

    transform: translateY(0);

}

/*=====================================
        ARCHITECTURE
======================================*/

.architecture-section {

    padding: 140px 0;

}

.architecture-diagram {

    margin-top: 70px;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 28px;

}

.arch-card {

    width: 340px;

    padding: 35px;

    border-radius: 24px;

    background: rgba(255, 255, 255, .03);

    border: 1px solid rgba(255, 255, 255, .08);

    backdrop-filter: blur(20px);

    text-align: center;

    position: relative;

    overflow: hidden;

    transition: .45s;

}

.arch-card::before {

    content: "";

    position: absolute;

    left: 0;

    top: 0;

    width: 100%;

    height: 4px;

    background: linear-gradient(90deg,
            #6C63FF,
            #28d7ff);

    transform: scaleX(0);

    transition: .4s;

}

.arch-card:hover::before {

    transform: scaleX(1);

}

.arch-card:hover {

    transform:

        translateY(-12px) scale(1.04);

    border-color: #6C63FF;

    box-shadow:

        0 25px 70px rgba(108, 99, 255, .25);

}

.arch-card svg {

    width: 56px;

    height: 56px;

    color: #6C63FF;

    stroke-width: 2;

    margin-bottom: 20px;

}

.arch-card {

    animation: floatCard 5s ease-in-out infinite;

}

.arch-card:nth-child(2) {

    animation-delay: .4s;

}

.arch-card:nth-child(4) {

    animation-delay: .8s;

}

.arch-card:nth-child(6) {

    animation-delay: 1.2s;

}

.arch-card:nth-child(8) {

    animation-delay: 1.6s;

}

@keyframes floatCard {

    0%,
    100% {

        transform: translateY(0);

    }

    50% {

        transform: translateY(-8px);

    }

}

.arch-card h3 {

    margin-top: 18px;

    color: white;

    font-size: 1.25rem;

}

.arch-line {

    width: 4px;

    height: 60px;

    background: linear-gradient(#6C63FF,

            #28d7ff);

    border-radius: 30px;

    position: relative;

    overflow: hidden;

}

.arch-line::after {

    content: "";

    position: absolute;

    width: 100%;

    height: 30px;

    background: white;

    filter: blur(12px);

    animation: flow 2s linear infinite;

}

@keyframes flow {

    from {

        transform: translateY(-40px);

    }

    to {

        transform: translateY(90px);

    }

}

.arch-row {

    display: flex;

    justify-content: center;

}

.arch-services,
.arch-bottom {

    display: flex;

    justify-content: center;

    gap: 120px;

    position: relative;

}

.arch-card.small {

    width: 250px;

}

.arch-services::before {

    content: "";

    position: absolute;

    top: -35px;

    left: 50%;

    width: 2px;

    height: 35px;

    background: #6C63FF;

}

.arch-bottom::before {

    content: "";

    position: absolute;

    top: -35px;

    left: 50%;

    width: 2px;

    height: 35px;

    background: #6C63FF;

}

.architecture-diagram {

    position: relative;

}

.architecture-diagram::before {

    content: "";

    position: absolute;

    width: 900px;

    height: 900px;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    background:

        radial-gradient(circle,

            rgba(108, 99, 255, .22),

            transparent 70%);

    filter: blur(150px);

    z-index: -1;

}

/*=====================================
        TECH STACK
======================================*/

.tech-section {

    padding: 140px 0;

}

.tech-grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

    margin-top: 70px;

}

.tech-card {

    background: rgba(255, 255, 255, .03);

    border: 1px solid rgba(255, 255, 255, .08);

    border-radius: 24px;

    padding: 35px;

    backdrop-filter: blur(16px);

    transition: .4s;
    position: relative;
    overflow: hidden;

}

.tech-card::before {

    content: "";

    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 4px;

    background: linear-gradient(90deg,
            #6C63FF,
            #28d7ff);

    transform: scaleX(0);

    transition: .4s;

}

.tech-card:hover::before {

    transform: scaleX(1);

}

.tech-card:hover {

    transform: translateY(-12px) scale(1.02);

    border-color: #6C63FF;

    box-shadow: 0 20px 50px rgba(108, 99, 255, .2);

}

.tech-card:hover .tech-icon {

    transform:
        rotate(-8deg) scale(1.08);

}

.tech-icon {

    width: 70px;
    height: 70px;

    border-radius: 18px;

    background: rgba(108, 99, 255, .12);

    box-shadow:
        0 0 25px rgba(108, 99, 255, .15);

    display: flex;

    justify-content: center;

    align-items: center;

    margin-bottom: 25px;

}

.tech-icon svg {

    width: 34px;
    height: 34px;

    color: #6C63FF;

}

.tech-card h3 {

    color: white;

    margin-bottom: 28px;

}

.tech-list {

    display: flex;

    flex-wrap: wrap;

    gap: 10px;

}

.tech-list span {

    padding: 8px 16px;

    border-radius: 30px;

    background: #171d2c;

    border: 1px solid rgba(255, 255, 255, .08);

    font-size: .9rem;

}

/*==============================
      CHALLENGES
==============================*/

.challenges-section{

    padding:140px 0;

}

.challenge-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

    margin-top:70px;

}

.challenge-card{

    background:rgba(255,255,255,.03);

    border:1px solid rgba(255,255,255,.06);

    border-radius:28px;

    padding:40px;

    transition:.4s;

    position:relative;

    overflow:hidden;

    cursor:pointer;

}

.challenge-card::before{

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:4px;

    background:linear-gradient(
        90deg,
        #6C63FF,
        #28d7ff
    );

    transform:scaleX(0);

    transition:.4s;

}
.challenge-card::after{

content:"";

position:absolute;

left:-120%;

top:0;

width:80%;

height:100%;

background:linear-gradient(

90deg,

transparent,

rgba(255,255,255,.08),

transparent

);

transform:skewX(-25deg);

transition:.8s;

}

.challenge-card:hover::before{

    transform:scaleX(1);

}
.challenge-card:hover::after{

left:150%;

}

.challenge-card:hover{

    transform:translateY(-12px);

    border-color:#6C63FF;

    box-shadow:0 25px 50px rgba(108,99,255,.18);

}

.challenge-label{

    display:inline-flex;

    padding:8px 16px;

    border-radius:40px;

    background:rgba(108,99,255,.12);

    color:#28d7ff;

    font-size:.85rem;

    font-weight:700;

    margin-bottom:22px;

    align-items:center;

    gap:10px;

}
.challenge-label svg{

width:18px;

height:18px;

}

.challenge-card h3{

    color:#fff;

    font-size:1.6rem;

    margin-bottom:18px;

}

.challenge-card>p{

    color:#B8BECF;

    line-height:1.8;

    margin-bottom:28px;

}

.challenge-solution{

    padding:24px;

    border-radius:18px;

    background:#161d2c;

    border:1px solid rgba(255,255,255,.06);

}

.challenge-solution strong{

    display:block;

    color:#6C63FF;

    margin-bottom:12px;

}

.challenge-solution p{

    color:#d6dcef;

    line-height:1.8;

}
.challenge-impact{

    margin-top:22px;

    padding:22px;

    border-radius:18px;

    background:rgba(40,215,255,.05);

    border:1px solid rgba(40,215,255,.15);

}

.challenge-impact strong{

    color:#28d7ff;

    display:block;

    margin-bottom:15px;

}

.challenge-impact ul{

    list-style:none;
    padding:0;
    margin:0;

}

.challenge-impact li{

    display:flex;
    align-items:center;
    gap:12px;

    margin:14px 0;

    color:#d7def5;

}

.challenge-impact li svg{

    width:18px;
    height:18px;

    color:#28d7ff;

    flex-shrink:0;

}

/*==============================
        METRICS
==============================*/

.metrics-section{

    padding:150px 0;

}

.metrics-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

    margin-top:70px;

}

.metric-card{

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    border-radius:26px;

    padding:45px;

    text-align:center;

    transition:.4s;

    position:relative;

    overflow:hidden;

}

.metric-card::before{

    content:"";

    position:absolute;

    left:0;
    top:0;

    width:100%;
    height:4px;

    background:linear-gradient(
        90deg,
        #6C63FF,
        #28d7ff
    );

    transform:scaleX(0);

    transition:.4s;

}

.metric-card:hover::before{

    transform:scaleX(1);

}

.metric-card:hover{

    transform:translateY(-12px);

    border-color:#6C63FF;

    box-shadow:0 25px 50px rgba(108,99,255,.2);

}

.metric-card h3{

    font-size:4rem;

    color:#6C63FF;

    margin-bottom:15px;

    font-weight:800;

}

.metric-card span{

    color:#B8BECF;

    font-size:1rem;

    letter-spacing:.5px;

}

@media(max-width:900px){

.metrics-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.metrics-grid{

grid-template-columns:1fr;

}

}

/*==============================
        LEARNINGS
==============================*/

.learnings-section{

    padding:140px 0;

}

.learning-grid{

    margin-top:70px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.learning-card{

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    border-radius:24px;

    padding:40px;

    transition:.4s;

}

.learning-card:hover{

    transform:translateY(-12px);

    border-color:#6C63FF;

    box-shadow:0 25px 45px rgba(108,99,255,.2);

}

.learning-card svg{

    width:48px;

    height:48px;

    color:#6C63FF;

    margin-bottom:25px;

}

.learning-card h3{

    color:#fff;

    margin-bottom:16px;

}

.learning-card p{

    color:#B8BECF;

    line-height:1.8;

}

@media(max-width:992px){

.learning-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.learning-grid{

grid-template-columns:1fr;

}

}


/*==============================
        CASE FOOTER
==============================*/

.case-footer{

    padding:150px 0 100px;

}

.case-footer-card{

    max-width:900px;

    margin:auto;

    text-align:center;

    background:linear-gradient(
        145deg,
        rgba(108,99,255,.12),
        rgba(40,215,255,.08)
    );

    border:1px solid rgba(255,255,255,.08);

    border-radius:30px;

    padding:80px;

}

.case-footer-card h2{

    color:white;

    margin:30px 0;

    font-size:3rem;

}

.case-footer-card p{

    color:#B8BECF;

    line-height:1.9;

    max-width:700px;

    margin:auto;

}

.footer-buttons{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:20px;

    flex-wrap:wrap;

    margin-top:60px;

}

.footer-btn{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:12px;

    min-width:240px;

    padding:18px 28px;

    font-size:1rem;

    transition:.35s ease;

}

.footer-btn svg{

    width:20px;

    height:20px;

}

.footer-btn:hover{

    transform:translateY(-6px);

}

.github-btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:12px;
}

.github-btn svg{
    width:20px;
    height:20px;
}